.card-options {
    display: flex;
}

.calc-left-items {
    margin-bottom: 10px;
    width: 100%;
}

.extra-space {
    margin-right: 4px;
}

.calc-left-size {
    width: 74%;
    padding-left: 50px;
}

.calc-right-side {
    display: table-caption;
}

.calc-right-items  {
    margin-bottom: 10px;
}

#calculation-area {
    display: -webkit-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    width: 39%;
    padding: 10px;
}

.calc-button {
    border: none;
}

.calc-button {
    font-size: 22px;
    text-align: center;
    line-height: 44px;
    text-decoration: none;
    color: white;
    background-color: #CC4331;
    border-radius: 4px;
    width: 115px;
    height: 40px;
    text-shadow: 0 -1px -1px #af3a2a;
    -moz-box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.calc-button[disabled] {
    background-color: #C6C6C6;

    text-shadow: 0 -1px -1px rgba(127, 140, 141, 0.66);
    -moz-box-shadow: 0 4px 0 #7f8c8d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 0 #7f8c8d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 #7f8c8d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.calc-button:hover:disabled {
    background-color: #C6C6C6;

    text-shadow: 0 -1px -1px rgba(127, 140, 141, 0.66);
    -moz-box-shadow: 0 4px 0 #7f8c8d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 0 #7f8c8d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 #7f8c8d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.calc-button:hover:enabled {
    background-color: #d25544;
    text-shadow: 0 -1px -1px #c4402f;
    -moz-box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}
.calc-button:active {
    /*margin-top: -10px;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.calc-box {
    text-align: center;
    width: 60%;
    -webkit-box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    font-size: 22px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calc-box input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}