.mainContent {
    width: 75%;
    margin-left: 12.5%;
    text-align: center;
}

#title {
    margin-bottom: 15px;
    margin-top: 25px;
}

.textbox {
    width:150px;
}

.start {
    width: 100px;
    height: 40px;
}

.username {
    padding-bottom: 25px;
    display: -webkit-inline-box;
}

.mainText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

#usernameText {
    padding-right: 15px;
}
