.mainContent {
    width: 75%;
    margin-left: 12.5%;
    text-align: center;
}

#title {
    margin-bottom: 15px;
    margin-top: 25px;
}

#username {
    width:150px;
}

#start {
    width: 100px;
    height: 40px;
}

.username {
    padding-bottom: 25px;
    display: -webkit-inline-box;
}

.mainText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

#usernameText {
    padding-right: 15px;
}

.playingCard {
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    border: 2px solid #cccccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    padding: 20px;
    width: 200px;
    height: 300px;
}
