<div id="calculation-area">
    <div id="calculation-layout">
        <div class="calc-left-size">
            <div class="calc-left-items">
                <input class="calc-box" name="calcBox" type="text" ng-model="calculationBox" ng-change="" readonly>
                <input class="calc-button" type="button" value="Calculate" ng-click="CalculateEquation()" ng-disabled="calculationDisabled || passDisabled">
            </div>
            <div class="card-options calc-left-items">
                <div ng-repeat="value in currentValues track by $index">
                    <input class="calc-button extra-space" type="button" value="{{value.number}}" ng-disabled="numbersDisabled || value.disabled || passDisabled" ng-click="AddValueToCalculation(value.number)">
                </div>
            </div>
            <div class="calc-left-items">
                <input class="calc-button" type="button" value="+" ng-disabled="operandsDisabled || passDisabled" ng-click="AddValueToCalculation('+')">
                <input class="calc-button" type="button" value="-" ng-disabled="operandsDisabled || passDisabled" ng-click="AddValueToCalculation('-')">
                <input class="calc-button" type="button" value="*" ng-disabled="operandsDisabled || passDisabled" ng-click="AddValueToCalculation('*')">
                <input class="calc-button" type="button" value="/" ng-disabled="operandsDisabled || passDisabled" ng-click="AddValueToCalculation('/')">
            </div>
        </div>
       <div class="calc-right-side">
           <div class="top-row">
               <input class="calc-button calc-right-items" type="button" value="Undo" ng-click="UndoAction()"  ng-disabled="undoDisabled || passDisabled">
               <input class="calc-button calc-right-items" type="button" value="Reset" ng-click="ResetEquation()" ng-disabled="passDisabled">
               <input class="calc-button calc-right-items" type="button" value="Pass" ng-click="Pass()" name="PassButton" ng-disabled="passDisabled">
           </div>
       </div>
    </div>
</div>