<div id="calculation-area">
    <div class="top-row">
        <input class="calc-box" type="text" ng-model="calculationBox">
        <input class="calc-button" type="button" value="Calculate" ng-click="CalculateEquation()">
        <input class="calc-button" type="button" value="Reset" ng-click="ResetEquation()">
        <input class="calc-button" type="button" value="Pass">
    </div>
    <div id="card-options">
        <div ng-repeat="value in currentValues track by $index">
            <input class="calc-button extra-space" type="button" value="{{value.number}}" ng-disabled="numbersDisabled || value.disabled" ng-click="AddValueToCalculation(value.number)">
        </div>
    </div>
    <div>
        <input class="calc-button" type="button" value="+" ng-disabled="operandsDisabled" ng-click="AddValueToCalculation('+')">
        <input class="calc-button" type="button" value="-" ng-disabled="operandsDisabled" ng-click="AddValueToCalculation('-')">
        <input class="calc-button" type="button" value="*" ng-disabled="operandsDisabled" ng-click="AddValueToCalculation('*')">
        <input class="calc-button" type="button" value="/" ng-disabled="operandsDisabled" ng-click="AddValueToCalculation('/')">
    </div>

</div>