<div class="table" >
    <div ng-repeat="card in currentCards">
        <div class="cell {{card.suit}}">
            <div class="playingCard">
                <div class="corner">
                    <span>{{card.cardValue}}</span>
                    <img class="suit" src="{{card.suitImageSrc}}">
                </div>
                <div ng-repeat="suitPos in card.css">
                    <div class="suit-position small-suit {{suitPos.class}}">
                        <img class="suit" src="{{card.faceImageSrc}}">
                    </div>
                </div>
                <div class="right corner">
                    <span>{{card.cardValue}}</span>
                    <img class="suit" src="{{card.suitImageSrc}}">
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="deck.length <= 0">
    <p>There are no more cards</p>
</div>
<calculation-directive current-cards=currentCards></calculation-directive>
<button ng-click="PickNextCards()">Next Cards</button>