<div id="header">
    <div name="hostDetails" class="score header-left">
        {{hostName}}  {{hostScore}}
    </div>
    <div class="title">
        Twenty Four
    </div>
    <div name="playerDetails" class="score header-right">
        {{playerName}}  {{playerScore}}
    </div>
</div>
<div class="game-center">
    <overlay-directive ng-if="endOfRound || waitingForOpposition || settingUpGame || roundSkipped || endOfGame || playerQuit" winner-of-round="winnerOfRound"
                       waiting-for-opposition="waitingForOpposition" setting-up-game="settingUpGame" round-skipped="roundSkipped" solution="solution"
                       end-of-game="endOfGame" player-details="playerDetails" player-quit="playerQuit"></overlay-directive>

    <div ng-if="gameInProgress && !endOfRound">
        <div class="title-message center-large-text" ng-if="deck.length <= 0">
            Last Round!
        </div>
        <div class="table" >
            <div class="card">
                <div ng-repeat="card in currentCards">
                    <div class="cell {{card.suit}}">
                        <div class="playingCard">
                            <div class="corner">
                                <span>{{card.cardValue}}</span>
                                <img class="suit" src="{{card.suitImageSrc}}">
                            </div>
                            <div ng-repeat="suitPos in card.css">
                                <div class="suit-position small-suit {{suitPos.class}}">
                                    <img class="suit" src="{{card.faceImageSrc}}">
                                </div>
                            </div>
                            <div class="right corner">
                                <span>{{card.cardValue}}</span>
                                <img class="suit" src="{{card.suitImageSrc}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <calculation-directive current-cards=currentCards socket=socket></calculation-directive>
        <!--<button ng-click="PickNextCards()">Next Cards</button>-->
    </div>
</div>
