<div>
    <div id="header">

        <div class="title">
            Twenty Four
        </div>

    </div>
    <div class="mainContent">
        <div class="username">
            <p class="mainText" id="usernameText">Username</p>
            <input class="calc-box" name="calcBox" type="text" ng-model="username" ng-change="">
        </div>
        <div ng-if="username.length > 0">
            <div class="host-join-buttons">
                <input class="calc-button host-button" type="button" value="Host Game" ng-click="HostGame()">
                <div ng-if="openGameRooms.length > 0">
                    <input class="calc-button" type="button" value="Join" ng-click="JoinGame()">
                </div>
                <div ng-if="openGameRooms.length == 0">
                    <input class="calc-button" type="button" value="Searching For Games" ng-disabled="true" readonly>
                </div>
            </div>

        </div>
    </div>
</div>


