<div>
    <div class="overlay"></div>
    <div class="center-container">
        <div class="absolute-center">
            <div class="center-large-text center-message" ng-if="endOfGame">
                Game Over! <br> Final Score
                <br>
                {{playerDetails[0].name}} - {{playerDetails[0].score}} &nbsp;
                {{playerDetails[1].name}} - {{playerDetails[1].score}}
                <br><br>
                <input class="calc-button" type="button" value="Main Menu" ng-click="returnToMainMenu()">
            </div>
            <div class="center-large-text center-message" ng-if="winnerOfRound">
                <p>24, Correct!!</p>
                <div class="loader1"></div>
            </div>
            <div class="center-large-text center-message" ng-if="!winnerOfRound && !waitingForOpposition && !settingUpGame && !roundSkipped && !endOfGame">
                <p>Too Slow, the opposition gave the correct answer</p>
                <div class="loader1"></div>
            </div>
            <div class="center-message center-small-text" ng-if="roundSkipped">
                Round Passed <br>
                <br>
                <p ng-if="!solutionVisable" ng-click="showSolution()">View Solution</p>
                <div ng-if="solutionVisable">
                    Step 1 : {{solution[0].stepOne}} <br>
                    Step 2 : {{solution[0].stepTwo}} <br>
                    Step 3 : {{solution[0].stepThree}} <br>
                </div>
                <br>
                <!--<div class="loader3"></div>-->
                <div class="loader1"></div>
            </div>
            <div class="center-message center-large-text" ng-if="waitingForOpposition">
                <p>Waiting for opponent...</p>
            </div>
            <div class="center-message center-large-text" ng-if="settingUpGame">
                <p>Setting up game...</p>
            </div>
            <div ng-if="waitingForOpposition || settingUpGame" class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
    </div>
</div>